title{
	background-color: black;
	color:blue;
}
h1 {
	background-color: transparent;
	color: red;
	text-align: center;
	padding: 150px;
   
}


body {
	background-image: url("cooking_ingredients_op_720x477.jpg");
	background-repeat: initial;
	background-attachment: local;
	

}
img {
	opacity: 0.1;
	filter: alpha (opacity=40);
}
